* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #FFFFFF;
  overflow-x: hidden;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background: url('images/background.png') right bottom  no-repeat;
}

.page__body {
  position: relative;
  max-width: 1550px;
  padding: 0 30px 100px;
  width: 100%;
  margin: 0 auto;
}

.page__footer {
  font-size: 9vw;
  line-height: 1;
  font-weight: 800;
  color: #3ffcd1;
  opacity: .2;
  text-align: center;
  position: absolute;
  bottom: 0;
  z-index: -2;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.1;
}

.logo {
  margin: 35px 0 40px;
}

.promo-img {
  position: absolute;
  z-index: -1;
  right: -140px;
  top: -80px;
}

.content {
  max-width: 650px;
  padding-left: 100px;
  width: 100%;
}

.description {
  font-size: 18px;
  line-height: 1.7;
  margin: 30px 0 45px;
}

.contacts {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.contacts__mail,
.contacts__phone {
  font-size: 24px;
  color: #000;
  text-decoration: none;
  transition: .3s;
}

.contacts__mail {
  margin-bottom: 15px;
  text-decoration: underline;
}

.contacts__mail:hover,
.contacts__phone:hover {
  color: #3ffcd1;
}

@media screen and (max-width: 1366px) {
  .content {
    padding-left: 0;
    max-width: 550px;
  }
  .promo-img {
    width: 60%;
    right: -40px;
    top: -20px;
  }
  .title {
    font-size: 70px;
  }

  .logo {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .page__body {
    padding-bottom: 80px;
  }
  .promo-img {
    position: static;
    width: 100%;
    margin-top: -30px;
  }
  .content {
    max-width: 100%;
  }
  .title {
    white-space: normal;
    font-size: 50px;
    position: relative;
    z-index: 2;
  }
  .title br {
    display: none;
  }
  .logo {
    width: 120px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 560px) {
  .logo {
    margin-top: 20px;
  }
  .title {
    font-size: 35px;
  }
  .contacts__mail, .contacts__phone {
    font-size: 16px;
  }
}